Repository joomla-projects/media-manager-improvement, changes with the owners that .github/CODEOWNERS names for each.
All owners: @laoneo, @mbabker, @brianteeman, @okonomiyaki3000, @wilsonge, @rdeutz, @zero-24, @dgt41

build
  media/com_media/js/mediamanager.min.js
Owners: @dgt41

When rename is not possible throw a NotAllowedException
  administrator/components/com_media/Controller/ApiController.php
  administrator/components/com_media/Exception/NotAllowedException.php
  plugins/filesystem/local/Adapter/LocalAdapter.php
Owners: none

Add save events for content plugins
  administrator/components/com_media/Model/ApiModel.php
  administrator/language/en-GB/en-GB.plg_media-action_resize.ini
  plugins/media-action/resize/resize.php
  plugins/media-action/resize/resize.xml
Owners: @brianteeman

CS
  administrator/components/com_media/Model/ApiModel.php
  plugins/media-action/resize/resize.php
Owners: none

CS
  administrator/components/com_media/Model/ApiModel.php
Owners: none

added new line
  administrator/components/com_media/resources/scripts/components/modals/confirm-delete-modal.vue
Owners: none

rearrange state variable
  administrator/components/com_media/resources/scripts/store/state.js
Owners: none

alpha ordering
  administrator/language/en-GB/en-GB.com_media.ini
Owners: @brianteeman

regenerated assets
  media/com_media/js/mediamanager.min.js
Owners: @dgt41

CS
  administrator/language/en-GB/en-GB.plg_media-action_resize.ini
  plugins/media-action/resize/resize.xml
Owners: @brianteeman

deleted unwanted JS files
  media/com_media/js/mediamanager.js
  media/com_media/js/mediamanager.js.map
Owners: @dgt41

ignore vue linting
  .eslintignore
Owners: none

Update .eslintignore
  .eslintignore
Owners: none

Update en-GB.com_media.ini
  administrator/language/en-GB/en-GB.com_media.ini
Owners: @brianteeman

.github/CODEOWNERS:

# Custom Fields
administrator/components/com_fields/*  @laoneo
components/com_fields/*  @laoneo
plugins/content/fields/*  @laoneo
plugins/editors-xtd/fields/*  @laoneo
plugins/fields/*  @laoneo
plugins/systems/fields/*  @laoneo

# Smart Search
administrator/components/com_finder/*  @mbabker
components/com_finder/*  @mbabker
modules/mod_finder/*  @mbabker
plugins/content/finder/*  @mbabker
plugins/finder/*  @mbabker

# Language strings
administrator/language/en-GB/*  @brianteeman
installation/language/en-GB/*  @brianteeman
language/en-GB/*  @brianteeman
README.md  @brianteeman
README.txt  @brianteeman

# CodeMirror
media/editors/codemirror/*  @okonomiyaki3000
plugins/editors/codemirror/*  @okonomiyaki3000

# Statistics Server
plugins/system/stats/*  @mbabker @wilsonge

# Release Tools
build.xml  @mbabker
build/build.php  @mbabker @rdeutz @wilsonge
build/bump.php  @mbabker @rdeutz @wilsonge
build/deleted_file_check.php  @mbabker @rdeutz @wilsonge

# Core/Extension Install/Update Tools
administrator/components/com_joomlaupdate/*  @mbabker @rdeutz @wilsonge @zero-24
libraries/src/Installer/*  @mbabker @rdeutz @wilsonge @zero-24
libraries/src/Updater/*  @mbabker @rdeutz @wilsonge @zero-24

# Automated Testing
build/jenkins/*  @mbabker @rdeutz
build/travis/*  @mbabker @rdeutz
tests/codeception/*  @rdeutz
tests/javascript/*  @dgt41 @rdeutz
tests/unit/*  @mbabker @rdeutz
.appveyor.yml  @mbabker @rdeutz
.drone.yml  @rdeutz
.hound.yml  @mbabker
.travis.yml  @mbabker @rdeutz
appveyor-phpunit.xml  @mbabker @rdeutz
codeception.yml  @rdeutz
karma.conf.js  @dgt41 @rdeutz
phpunit.xml.dist  @mbabker @rdeutz
RoboFile.dist.ini  @rdeutz
RoboFile.php  @rdeutz
travis-phpunit.xml  @mbabker @rdeutz

# Core JS
media/*/js/*  @dgt41
